<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Create User</title>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    </head>

        <body>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-header">
                            <h3>Create User</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
              <div class="row">
                    <div class="col-xs-12">
                      <form name="loginForm" class="form-horizontal" action="/createuser" method="POST">
                          <div class="form-group">
                              <div class="row">
          						            <div class="col-md-5">
                                      <label for="name" class="control-label">First name</label>
          							              <input type="text" class="form-control" name='user[name]' id="name" ">
          						            </div>
          						            <div class="col-md-7">
                                      <label for="lastname" class="control-label">Last name</label>
          							              <input type="text" class="form-control" name='user[lastname]' id="lastname" ">
          						            </div>
                              </div>
                              <div class="row">
          						            <div class="col-md-5">
                                      <label for="email" class="control-label">E-mail</label>
          							              <input type="text" class="form-control" name='user[email]' id="email" >
          						            </div>
          						            <div class="col-md-3">
                                      <label for="password" class="control-label">Password</label>
          							              <input type="password" class="form-control" name='user[password]' id="password" >
          						            </div>
                              </div>
                              <div class="row">
                                  <br/>
                                  <div class="col-md-5">
                                    <button type="submit"  class="btn btn-success">Create</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
            </div>
        </body>
  </html>
